$breakpoint: 560px;

$main-width: 80vw;

$color-text: #242424;
$color-link: #5F9EA0;
$color-contact: #808080;
$color-border: #ccc;

$font: 'Radley', 'Palatino', serif;

$font-size--lg: 48px;
$font-size--md: 32px;
$font-size--sm: 20px;

$transition-duration: 125ms;
$transition-timing: ease-out;

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 50px auto 0;
  width: $main-width;
  color: $color-text;
  font-family: $font;
  // text antialiasing
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (orientation: landscape) and (max-height: 500px) {
    margin-top: 10px;
  }

  @media (max-width: $breakpoint) {
    margin-top: 25px;
  }
}

apps {
  margin: 10px auto 0;
  width: $main-width;
  color: $color-text;
  font-family: $font;

  @media (orientation: landscape) and (max-height: 500px) {
    margin-bottom: -10px;
  }
}

footer {
  margin: 40px auto 0;
  width: $main-width;
  color: $color-text;
  font-family: $font;
}

.title {
  margin: 0;
  font-size: $font-size--md;
}

.position {
  margin: 5px 0 15px;
  font-size: $font-size--sm;
}

.company {
  position: relative;
  color: $color-link;
  text-decoration: none;

  &:hover:before {
    right: 0;
    left: 0;
  }
}

.company:before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -1px;
  left: 50%;
  height: 3px;
  background: $color-link;
  transition-property: right, left;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing;
}

.contact {
  margin-right: $font-size--sm;
  color: $color-contact;
  text-decoration: none;
  font-size: 18px;
  transition: color $transition-duration $transition-timing;

  &:hover {
    color: $color-link;
  }

  @media (max-width: $breakpoint) {
      font-size: 16px;
  }
}

.avatar {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 15px;

  @media (orientation: landscape) and (max-height: 500px) {
    height: 125px;
  }

  @media (max-width: $breakpoint) {
    height: 125px;
  }
}

.appicon {
  border: 1px $color-border solid;
  border-radius: 17.544%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;

  @media (max-width: $breakpoint) {
    height: 45px;
  }
}
